.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  background-color: #031b48;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  font-size:larger;
  color: white;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.App-container {
  background-color: #43577b;
  min-height: 100vh;
  display: flex;
  font-size:large;
  color: #dae0eb;
  flex-direction: column;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

.cars-container {
  margin:20px;
}

input {
  width:100%
}

img {
  height: 200px;
  margin-bottom:20px;
}

.section {
  background-color: #c6d7f6;
  margin:10px;
  border-radius: 2px;
}

.inner {
  margin:20px;
}

.btn {
  border-color:#43577b;
  margin-left:2px;
  margin-right:2px;
}

a:link {
  color:rgb(222, 207, 121) ;
  text-decoration: none !important;
}


